body {
  background: rgb(255, 255, 240);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif;
  font-size: 16px;
}
blockquote {
  border-left: 8px solid rgb(246, 224, 94);
  margin: 1.5em 10px;
  padding: 0.5em 15px;
  font-style: italic;
}
blockquote p {
  display: inline;
}
.main {
  max-width: 800px;
  width: 90%;
  margin: auto;
}
p,
ul,
ol {
  font-size: 1.25rem;
  line-height: 1.95rem;
}
li {
  margin-bottom: 1.5rem;
}
.highlight {
  background-color: #f6e05e;
}
a {
  border-bottom: 4px solid rgb(246, 224, 94);
  text-decoration: none;
  color: inherit;
}
a:hover {
  background-color: #f6e05e;
}
pre {
  overflow-x: scroll;
}
code pre {
  padding: 20px;
}
